
/**Footer (appears on all pages)**/

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0px;

    &--color {
        background-color: $background-color-hdr_ftr_btnsn
    }
}

@media (max-width: 599px) {
    .footer {
        height: 80px;
        &__mentions {
            font-size: 1.2em;
            margin-top: 18px;
            margin-left: 5px;
            @include footer;
        } 
        &__contact {
            font-size: 1.2em;
            margin-top: 18px;
            margin-right: 5px;
            @include footer;
        } 
    }   
}

@media (min-width: 600px) {
    .footer {
        height: 52px;
        &__mentions {
            font-size: 1.5em;
            margin-top: 19px;
            margin-left: 35px;
            @include footer;
        } 
        &__contact {
            font-size: 1.5em;
            margin-top: 19px;
            margin-right: 35px;
            @include footer;
        } 
    }   
}

@media (min-width: 992px) {
    .footer {
        height: 57px;
        &__mentions {
            font-size: 1.6em;
            margin-top: 2px;
            margin-left: 35px;
            @include footer;
        } 
        &__contact {
            font-size: 1.6em;
            margin-top: 2px;
            margin-right: 35px;
            @include footer;
        } 
    }   
}