
/**Footer (appears on all pages)**/

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0px;

    &--color {
        background-color: $background-color-hdr_ftr_btnsn
    }

    &__mentions {
        margin-left: 35px;
    } 
    &__contact {
        margin-right: 35px;
    } 
}

@media (min-device-width: 320px) {
    .footer {
        height: 120px;
        &__mentions {
            font-size: 3.7em;
            margin-top: 10px;
            @include footer;
        } 
        &__contact {
            font-size: 3.7em;
            margin-top: 10px;
            @include footer;
        } 
    }   
}

@media (min-device-width: 600px) {
    .footer {
        height: 52px;
        &__mentions {
            font-size: 1.5em;
            @include footer;
        } 
        &__contact {
            font-size: 1.5em;
            @include footer;
        } 
    }   
}

@media (min-device-width: 992px) {
    .footer {
        height: 57px;
        &__mentions {
            font-size: 1.6em;
            @include footer;
        } 
        &__contact {
            font-size: 1.6em;
            @include footer;
        } 
    }   
}