
/**Header**/

.header {
    margin-bottom: 0.5em;

    &--color {
        background-color: $background-color-hdr_ftr_btnsn
    }
    &__txt {
        text-align: center;
        margin-top: 18px;
        font-size: 2.6em;
        &--style {
            color: $text-color-hdr_ftr_btnsn;
        }
    }
}


/**RESPONSIVE ~320px > 599px**/

@media (max-width: 599px) {
    
    .header {
        height: 90px;

        &__txt {
            margin-top: 24px;
            font-size: 2em;
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .header {
        height: 95px;
    
        &__txt {
            margin-top: 17px;
            font-size: 2.5em;
        }
    }
}


/**RESPONSIVE 992px > +**/

@media (min-width: 992px) {

    .header {
        height: 100px;

        &__txt {
            margin-top: 17px;
            font-size: 2.8em;
        }
    }
}