@charset "UTF-8";
@font-face {
  font-family: "Caveat Bold";
  src: url("../../fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat Regular";
  src: url("../../fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "Devonshire";
  src: url("../../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Junicode";
  src: url("../../fonts/Junicode-Bold.ttf");
}
@font-face {
  font-family: "Dancing";
  src: url("../../fonts/DancingScript-Regular.otf");
}
@font-face {
  font-family: "Kaushan";
  src: url("../../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Source Serif Pro Regular";
  src: url("../../fonts/SourceSerifPro-Regular.otf");
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../../fonts/SourceSerifPro-Bold.otf");
}
/**Header, Footer, Btn Soon**/
.header__txt--style {
  font-family: cursive;
  font-weight: 800;
}

.footer__mentions--style, .footer__contact--style, .btn-soon__txt--style {
  font-family: cursive;
  font-weight: 400;
}

/**Home Menu 1**/
.home-menus__menu1--style_title {
  font-family: "Devonshire", cursive;
  font-weight: normal;
}

.home-menus__menu1--style_subtitle {
  font-family: "Caveat Bold", cursive;
  font-weight: normal;
}

/**Home Menu 2**/
.home-menus__menu2--style_title {
  font-family: "Junicode", cursive;
  font-weight: normal;
}

.home-menus__menu2--style_subtitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

/**Home Menu 3**/
.home-menus__menu3--style_title {
  font-family: "Dancing", cursive;
  font-weight: normal;
}

.home-menus__menu3--style_subtitle {
  font-family: "Kaushan", cursive;
  font-weight: normal;
}

/**Home Menu 4**/
.home-menus__menu4--style_title, .home-menus__menu4--style_subtitle {
  font-family: "Kaushan", cursive;
  font-weight: normal;
}

/**Menu 1**/
.compo_menu1__main-title--style {
  font-family: "Devonshire", cursive;
  font-weight: 500;
}

.part1_menu1__txt, .part2_menu1__txt, .part3_menu1__txt {
  font-family: "Caveat Bold", cursive;
  font-weight: 700;
}

.compo_menu1 {
  font-family: "Caveat Regular", cursive;
  font-weight: 400;
}

.menu-end_menu1 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
}

/**Menu 2**/
.compo_menu2__main-title--style {
  font-family: "Junicode", cursive;
  font-weight: 700;
}

.compo_menu2 {
  font-family: "Source Serif Pro Regular", cursive;
  font-weight: 400;
}

.part1_menu2--color h3, .part2_menu2--color h3, .part3_menu2--color h3 {
  font-family: "Source Serif Pro", cursive;
  font-weight: 400;
}

/**Menu 3**/
.compo_menu3__main-title--style {
  font-family: "Dancing", cursive;
  font-weight: 400;
}

.compo_menu3 p {
  font-family: "Caveat Regular", cursive;
  font-weight: 400;
}

.part1_menu3--color h3, .part2_menu3--color h3, .part3_menu3--color h3 {
  font-family: "Source Serif Pro", cursive;
  font-weight: 400;
}

/**Menu 4**/
.compo_menu4__main-title--style {
  font-family: "Dancing", cursive;
  font-weight: normal;
}

.compo_menu4 p, .compo_menu4 h3 {
  font-family: "Caveat Regular", cursive;
  font-weight: normal;
}

/*Header, Footer, Btn Soon*/
/*Home Menus*/
/*Home Menus + Menus*/
/*Menus*/
/*Menu 1*/
/*Menu 2*/
/*Menu 3*/
/*Menu 4*/
/*Mentions*/
/*Other*/
/**Home menus**/
/**Footer**/
/**Menus (1,2,3,4)**/
/**Menu 2,3,4**/
/**Menu 1**/
/**Other**/
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
html body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #000;
}
html body a {
  text-decoration: none;
}

/**Button soon (home page)**/
.btn-soon {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 25px;
  padding-bottom: 70px;
}
.btn-soon--color {
  background-color: #579C87;
}
.btn-soon__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 45px;
}
.btn-soon__txt--style {
  text-decoration: #fff;
  color: #FBCB47;
}

@media (min-width: 320px) {
  .btn-soon__txt {
    width: 230px;
    font-size: 1.2em;
  }
}
@media (min-width: 600px) {
  .btn-soon__txt {
    width: 300px;
    font-size: 1.6em;
  }
}
@media (min-width: 992px) {
  .btn-soon__txt {
    width: 350px;
    font-size: 1.8em;
  }
}
/**Menus 1,2,3,4**/
.bloc_menu1, .bloc_menu-2-3-4 {
  box-shadow: 0px 0px 7px #c9c1c1;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 100px;
}

.title-g-menus {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #353535;
}

/**RESPONSIVE 320px > 599px**/
@media (min-width: 320px) {
  .title-g-menus {
    font-size: 1.7em;
  }
}
/**RESPONSIVE 600px > +**/
@media (min-width: 600px) {
  .title-g-menus {
    font-size: 2.1em;
  }
}
/**Menus 2,3,4**/
.bloc_menu-2-3-4 {
  height: auto;
}

.compo_menu-2-3-4__main-title {
  margin-top: 110px;
  margin-bottom: 115px;
  text-align: center;
}
.compo_menu-2-3-4__price {
  float: right;
}
.compo_menu-2-3-4 .part1_menu-2-3-4 {
  margin-top: 65px;
}
.compo_menu-2-3-4 .part1_menu-2-3-4__l-bar {
  float: left;
  height: 4px;
}
.compo_menu-2-3-4 .part1_menu-2-3-4__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  text-align: center;
}
.compo_menu-2-3-4 .part1_menu-2-3-4__r-bar {
  float: right;
  height: 4px;
}
.compo_menu-2-3-4 .part2_menu-2-3-4 {
  margin-top: 85px;
}
.compo_menu-2-3-4 .part2_menu-2-3-4__l-bar {
  float: left;
  height: 4px;
}
.compo_menu-2-3-4 .part2_menu-2-3-4__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  text-align: center;
}
.compo_menu-2-3-4 .part2_menu-2-3-4__r-bar {
  float: right;
  height: 4px;
}
.compo_menu-2-3-4 .part3_menu-2-3-4 {
  margin-top: 85px;
  margin-bottom: 120px;
}
.compo_menu-2-3-4 .part3_menu-2-3-4__l-bar {
  float: left;
  height: 4px;
}
.compo_menu-2-3-4 .part3_menu-2-3-4__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  text-align: center;
}
.compo_menu-2-3-4 .part3_menu-2-3-4__r-bar {
  float: right;
  height: 4px;
}

.part1_menu-2-3-4 aside, .part2_menu-2-3-4 aside, .part3_menu-2-3-4 aside {
  display: block;
  margin-bottom: 35px;
}

/**Home Menus (1,2,3,4) - Zoom effect**/
.home-menus article {
  scale: 1;
  transition-duration: 200ms;
}
.home-menus article:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

/**Btn-soon Home Menu - Points effect**/
.btn-soon_anim-one {
  opacity: 0;
  animation: susp-pts_effect 3s infinite;
  animation-delay: 0.5s;
}

.btn-soon_anim-two {
  opacity: 0;
  animation: susp-pts_effect 3s infinite;
  animation-delay: 1s;
}

.btn-soon_anim-three {
  opacity: 0;
  animation: susp-pts_effect 3s infinite;
  animation-delay: 1.5s;
}

@keyframes susp-pts_effect {
  0%, 10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**Footer (Mentions légales & Contactez-nous) - Wiggle effect**/
.footer a:hover {
  animation: wigle_effect 150ms both cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes wigle_effect {
  0% {
    transform: rotate(0.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-0.5deg);
  }
}
/**Menus (1,2,3,4) - Underline effect**/
.part1_menu1 aside p, .part2_menu1 aside p, .part3_menu1 aside p,
.part1_menu2--color_txt aside p, .part2_menu2--color_txt aside p, .part3_menu2--color_txt aside p,
.part1_menu3 aside p, .part2_menu3 aside p, .part3_menu3 aside p,
.part1_menu4 aside p, .part2_menu4 aside p, .part3_menu4 aside p {
  position: relative;
}

.part1_menu1 aside p:after, .part2_menu1 aside p:after, .part3_menu1 aside p:after,
.part1_menu2--color_txt aside p:after, .part2_menu2--color_txt aside p:after, .part3_menu2--color_txt aside p:after,
.part1_menu3 aside p:after, .part2_menu3 aside p:after, .part3_menu3 aside p:after,
.part1_menu4 aside p:after, .part2_menu4 aside p:after, .part3_menu4 aside p:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  margin-top: 18px;
  transition: width 0.5s;
}

/**~ Menus 1**/
.part1_menu1 aside p:hover:after, .part2_menu1 aside p:hover:after, .part3_menu1 aside p:hover:after {
  background: #3D1319;
  width: 100%;
  left: 0;
}

/**~ Menus 2**/
.part1_menu2--color_txt aside p:hover:after, .part2_menu2--color_txt aside p:hover:after, .part3_menu2--color_txt aside p:hover:after {
  width: 100%;
  left: 0;
}

.part1_menu2--color_txt aside p:hover:after {
  background: #C67412;
}

.part2_menu2--color_txt aside p:hover:after {
  background: #A56799;
}

.part3_menu2--color_txt aside p:hover:after {
  background: #6E4CCC;
}

/**~ Menus 3**/
.part1_menu3 aside p:hover:after, .part2_menu3 aside p:hover:after, .part3_menu3 aside p:hover:after {
  width: 100%;
  left: 0;
}

.part1_menu3 aside p:hover:after {
  background: #0228DD;
}

.part2_menu3 aside p:hover:after {
  background: #0670F3;
}

.part3_menu3 aside p:hover:after {
  background: #229DF9;
}

/**~ Menus 4**/
.part1_menu4 aside p:hover:after, .part2_menu4 aside p:hover:after, .part3_menu4 aside p:hover:after {
  background: #6BB953;
  width: 100%;
  left: 0;
}

/**Header (appears on all pages)**/
.header {
  margin-bottom: 0.5em;
}
.header--color {
  background-color: #579C87;
}
.header__txt {
  text-align: center;
  margin-top: 18px;
  font-size: 2.6em;
}
.header__txt--style {
  color: #FBCB47;
}

@media (min-width: 320px) {
  .header {
    height: 75px;
  }
  .header__txt {
    margin-top: 12px;
    font-size: 2em;
  }
}
@media (min-width: 600px) {
  .header {
    height: 90px;
  }
  .header__txt {
    margin-top: 14px;
    font-size: 2.4em;
  }
}
@media (min-width: 992px) {
  .header {
    height: 100px;
  }
  .header__txt {
    margin-top: 18px;
    font-size: 2.6em;
  }
}
/**Footer (appears on all pages)**/
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0px;
}
.footer--color {
  background-color: #579C87;
}

@media (min-width: 320px) {
  .footer {
    height: 45px;
  }
  .footer__mentions {
    font-size: 1.1em;
    margin-left: 7px;
  }
  .footer__mentions--style {
    padding-top: 11px;
    color: #FBCB47;
    text-decoration: #fff;
  }
  .footer__contact {
    font-size: 1.1em;
    margin-right: 7px;
  }
  .footer__contact--style {
    padding-top: 11px;
    color: #FBCB47;
    text-decoration: #fff;
  }
}
@media (min-width: 600px) {
  .footer {
    height: 52px;
  }
  .footer__mentions {
    font-size: 1.5em;
    margin-left: 20px;
  }
  .footer__mentions--style {
    padding-top: 11px;
    color: #FBCB47;
    text-decoration: #fff;
  }
  .footer__contact {
    font-size: 1.5em;
    margin-right: 20px;
  }
  .footer__contact--style {
    padding-top: 11px;
    color: #FBCB47;
    text-decoration: #fff;
  }
}
@media (min-width: 992px) {
  .footer {
    height: 57px;
  }
  .footer__mentions {
    font-size: 1.6em;
    margin-left: 35px;
  }
  .footer__mentions--style {
    padding-top: 11px;
    color: #FBCB47;
    text-decoration: #fff;
  }
  .footer__contact {
    font-size: 1.6em;
    margin-right: 35px;
  }
  .footer__contact--style {
    padding-top: 11px;
    color: #FBCB47;
    text-decoration: #fff;
  }
}
/**Home Menus (1,2,3,4) - index.html**/
.container-home-menus {
  display: flex;
  justify-content: center;
}
.container-home-menus .home-menus {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /**Menu 1**/
  /**Menu 2**/
  /**Menu 3**/
  /**Menu 4**/
}
.container-home-menus .home-menus__menu1 {
  background-color: #FCDFDB;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 11px #b8b2b2;
}
.container-home-menus .home-menus__menu1--style_title {
  color: #3D1319;
}
.container-home-menus .home-menus__menu1--style_subtitle {
  color: #3D1319;
}
.container-home-menus .home-menus__menu2 {
  background-color: #FFF5FE;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 11px #b8b2b2;
}
.container-home-menus .home-menus__menu2--style_title {
  background: -webkit-gradient(linear, left top, right bottom, from(#E38913), to(#9C6CFD));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-home-menus .home-menus__menu2--style_subtitle {
  color: #C77412;
}
.container-home-menus .home-menus__menu3 {
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 11px #b8b2b2;
}
.container-home-menus .home-menus__menu3--style_title {
  background: -webkit-gradient(linear, left top, right bottom, from(#0224DB), to(#0C8BFB));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-home-menus .home-menus__menu3--style_subtitle {
  color: #0887FB;
}
.container-home-menus .home-menus__menu4 {
  background-color: #FDFFFD;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 11px #b8b2b2;
}
.container-home-menus .home-menus__menu4--style_title {
  background: -webkit-gradient(linear, left top, right bottom, from(#3D923A), to(#C0FF82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-home-menus .home-menus__menu4--style_subtitle {
  color: #72BF56;
}

/**RESPONSIVE 320px > 599px**/
@media (min-width: 320px) {
  .home-menus {
    width: 400px;
    /**Menu 1**/
    /**Menu 2**/
    /**Menu 3**/
    /**Menu 4**/
  }
  .home-menus__menu1 {
    flex-basis: 250px;
    height: 350px;
  }
  .home-menus__menu1--style_title {
    margin-top: -1px;
    font-size: 2.3em;
  }
  .home-menus__menu1--style_subtitle {
    font-size: 2.3em;
  }
  .home-menus__menu2 {
    flex-basis: 250px;
    height: 350px;
  }
  .home-menus__menu2--style_title {
    font-size: 1.8em;
  }
  .home-menus__menu2--style_subtitle {
    font-size: 2.2em;
  }
  .home-menus__menu3 {
    flex-basis: 250px;
    height: 350px;
    margin-top: 40px;
  }
  .home-menus__menu3--style_title {
    font-size: 2.3em;
  }
  .home-menus__menu3--style_subtitle {
    font-size: 2.5em;
  }
  .home-menus__menu4 {
    flex-basis: 250px;
    height: 350px;
    margin-top: 40px;
  }
  .home-menus__menu4--style_title {
    font-size: 2.3em;
  }
  .home-menus__menu4--style_subtitle {
    font-size: 2.5em;
  }
}
/**RESPONSIVE 600px > 991px**/
@media (min-width: 600px) {
  .home-menus {
    width: 400px;
    /**Menu 1**/
    /**Menu 2**/
    /**Menu 3**/
    /**Menu 4**/
  }
  .home-menus__menu1 {
    flex-basis: 320px;
    height: 450px;
  }
  .home-menus__menu1--style_title {
    margin-top: -1px;
    font-size: 2.8em;
  }
  .home-menus__menu1--style_subtitle {
    font-size: 2.8em;
  }
  .home-menus__menu2 {
    flex-basis: 320px;
    height: 450px;
  }
  .home-menus__menu2--style_title {
    font-size: 2.1em;
  }
  .home-menus__menu2--style_subtitle {
    font-size: 2.5em;
  }
  .home-menus__menu3 {
    flex-basis: 320px;
    height: 450px;
    margin-top: 40px;
  }
  .home-menus__menu3--style_title {
    font-size: 2.6em;
  }
  .home-menus__menu3--style_subtitle {
    font-size: 2.8em;
  }
  .home-menus__menu4 {
    flex-basis: 320px;
    height: 450px;
    margin-top: 40px;
  }
  .home-menus__menu4--style_title {
    font-size: 2.6em;
  }
  .home-menus__menu4--style_subtitle {
    font-size: 2.8em;
  }
}
/**RESPONSIVE 992px > +**/
@media (min-width: 992px) {
  .home-menus {
    width: 900px;
    /**Menu 1**/
    /**Menu 2**/
    /**Menu 3**/
    /**Menu 4**/
  }
  .home-menus__menu1 {
    flex-basis: 400px;
    height: 565px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .home-menus__menu1--style_title {
    color: #3D1319;
    margin-top: -1px;
    font-size: 2.9em;
  }
  .home-menus__menu1--style_subtitle {
    color: #3D1319;
    font-size: 2.9em;
  }
  .home-menus__menu2 {
    flex-basis: 400px;
    height: 565px;
  }
  .home-menus__menu2--style_title {
    font-size: 2.2em;
  }
  .home-menus__menu2--style_subtitle {
    font-size: 2.6em;
  }
  .home-menus__menu3 {
    flex-basis: 400px;
    height: 565px;
    margin-right: 30px;
  }
  .home-menus__menu3--style_title {
    font-size: 2.7em;
  }
  .home-menus__menu3--style_subtitle {
    font-size: 2.9em;
  }
  .home-menus__menu4 {
    flex-basis: 400px;
    height: 565px;
  }
  .home-menus__menu4--style_title {
    font-size: 2.7em;
  }
  .home-menus__menu4--style_subtitle {
    font-size: 2.9em;
  }
}
/**Mentions - mentions.html"**/
.mentions p, .mentions h3, .mentions h2, .mentions ul {
  margin-left: 18px;
  margin-right: 50px;
}

.mentions p, .mentions ul {
  font-size: 17px;
  color: #3b3a3a;
}

.mentions-parts {
  margin-bottom: 65px;
}

.mentions_end {
  text-align: center;
  margin-bottom: 65px;
  color: #b9b3b3;
}

.mentions h3 {
  font-size: 20px;
  color: #3d3c3c;
}

/**Menu 1**/
.bloc_menu1 {
  background-color: #FCDFDB;
  height: auto;
}
.bloc_menu1 p {
  line-height: 20px;
}

.compo_menu1 {
  color: #3D1319;
  /**icon, main title & prices**/
  /**Prélude**/
  /**Point d'orgue**/
  /**Mouvement final**/
  /**icon & title end**/
}
.compo_menu1__main-img {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
.compo_menu1__main-title {
  margin-top: -0.1px;
  text-align: center;
}
.compo_menu1__price {
  font-weight: bold;
  float: right;
}
.compo_menu1 .part1_menu1 aside {
  margin-bottom: 35px;
}
.compo_menu1 .part1_menu1__l-bar {
  float: left;
  height: 4px;
  background: #3D1319;
}
.compo_menu1 .part1_menu1__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  text-align: center;
}
.compo_menu1 .part1_menu1__r-bar {
  float: right;
  height: 4px;
  background: #3D1319;
}
.compo_menu1 .part2_menu1 aside {
  margin-bottom: 35px;
}
.compo_menu1 .part2_menu1__l-bar {
  float: left;
  height: 4px;
  background: #3D1319;
}
.compo_menu1 .part2_menu1__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  text-align: center;
}
.compo_menu1 .part2_menu1__r-bar {
  float: right;
  height: 4px;
  background: #3D1319;
}
.compo_menu1 .part3_menu1 aside {
  margin-bottom: 35px;
}
.compo_menu1 .part3_menu1__l-bar {
  float: left;
  height: 4px;
  background: #3D1319;
}
.compo_menu1 .part3_menu1__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  text-align: center;
}
.compo_menu1 .part3_menu1__r-bar {
  float: right;
  height: 4px;
  background: #3D1319;
}
.compo_menu1 .menu-end_menu1 {
  text-align: center;
}
.compo_menu1 .menu-end_menu1__icon {
  margin-right: 15px;
}

.fa-itunes-note {
  color: #F16062;
}

/**RESPONSIVE 320px > 599px**/
@media (min-width: 320px) {
  .bloc_menu1 p {
    font-size: 19px;
  }

  .compo_menu1 {
    /**main title**/
    /**Prélude**/
    /**Point d'orgue**/
    /**Mouvement final**/
    /**icon & title end**/
  }
  .compo_menu1__main-title--style {
    font-size: 2.2em;
  }
  .compo_menu1 .part1_menu1 {
    margin-top: 50px;
  }
  .compo_menu1 .part1_menu1__l-bar {
    width: 25%;
  }
  .compo_menu1 .part1_menu1__txt {
    width: 15%;
    font-size: 20px;
  }
  .compo_menu1 .part1_menu1__r-bar {
    width: 25%;
  }
  .compo_menu1 .part2_menu1 {
    margin-top: 55px;
  }
  .compo_menu1 .part2_menu1__l-bar {
    width: 25%;
  }
  .compo_menu1 .part2_menu1__txt {
    width: 29%;
    font-size: 20px;
  }
  .compo_menu1 .part2_menu1__r-bar {
    width: 25%;
  }
  .compo_menu1 .part3_menu1 {
    margin-top: 55px;
  }
  .compo_menu1 .part3_menu1__l-bar {
    width: 25%;
  }
  .compo_menu1 .part3_menu1__txt {
    width: 38%;
    font-size: 20px;
  }
  .compo_menu1 .part3_menu1__r-bar {
    width: 25%;
  }
  .compo_menu1 .menu-end_menu1 {
    margin-top: 45px;
    font-size: 30px;
  }
}
/**RESPONSIVE 600px > 991px**/
@media (min-width: 600px) {
  .bloc_menu1 {
    width: 550px;
  }
  .bloc_menu1 p {
    font-size: 24px;
  }

  .compo_menu1 {
    width: 530px;
    /**main title**/
    /**Prélude**/
    /**Point d'orgue**/
    /**Mouvement final**/
    /**icon & title end**/
  }
  .compo_menu1__main-title--style {
    font-size: 3em;
  }
  .compo_menu1 .part1_menu1 {
    margin-top: 65px;
  }
  .compo_menu1 .part1_menu1__l-bar {
    width: 30%;
  }
  .compo_menu1 .part1_menu1__txt {
    width: 15%;
    font-size: 31px;
  }
  .compo_menu1 .part1_menu1__r-bar {
    width: 30%;
  }
  .compo_menu1 .part2_menu1 {
    margin-top: 85px;
  }
  .compo_menu1 .part2_menu1__l-bar {
    width: 30%;
  }
  .compo_menu1 .part2_menu1__txt {
    width: 26%;
    font-size: 31px;
  }
  .compo_menu1 .part2_menu1__r-bar {
    width: 30%;
  }
  .compo_menu1 .part3_menu1 {
    margin-top: 85px;
  }
  .compo_menu1 .part3_menu1__l-bar {
    width: 30%;
  }
  .compo_menu1 .part3_menu1__txt {
    width: 34%;
    font-size: 31px;
  }
  .compo_menu1 .part3_menu1__r-bar {
    width: 30%;
  }
  .compo_menu1 .menu-end_menu1 {
    margin-top: 55px;
    font-size: 35px;
  }
}
/**RESPONSIVE 992px > +**/
@media (min-width: 992px) {
  .bloc_menu1 {
    width: 900px;
  }
  .bloc_menu1 p {
    font-size: 28px;
  }

  .compo_menu1 {
    width: 700px;
    /**main title**/
    /**Prélude**/
    /**Point d'orgue**/
    /**Mouvement final**/
    /**icon & title end**/
  }
  .compo_menu1__main-title--style {
    font-size: 3.5em;
  }
  .compo_menu1 .part1_menu1 {
    margin-top: 65px;
  }
  .compo_menu1 .part1_menu1__l-bar {
    width: 30%;
  }
  .compo_menu1 .part1_menu1__txt {
    width: 15%;
    font-size: 40px;
  }
  .compo_menu1 .part1_menu1__r-bar {
    width: 30%;
  }
  .compo_menu1 .part2_menu1 {
    margin-top: 85px;
  }
  .compo_menu1 .part2_menu1__l-bar {
    width: 30%;
  }
  .compo_menu1 .part2_menu1__txt {
    width: 26%;
    font-size: 40px;
  }
  .compo_menu1 .part2_menu1__r-bar {
    width: 30%;
  }
  .compo_menu1 .part3_menu1 {
    margin-top: 85px;
  }
  .compo_menu1 .part3_menu1__l-bar {
    width: 30%;
  }
  .compo_menu1 .part3_menu1__txt {
    width: 34%;
    font-size: 40px;
  }
  .compo_menu1 .part3_menu1__r-bar {
    width: 30%;
  }
  .compo_menu1 .menu-end_menu1 {
    margin-top: 65px;
    font-size: 40px;
  }
}
/**Menu 2**/
.bloc_menu2 {
  background-color: #FFF5FE;
}

.compo_menu2 {
  /**main title**/
  /**Pour se mettre en appétit**/
  /**Plaisir des papilles**/
  /**Gourmandises sucrées**/
}
.compo_menu2__main-title--style {
  background: -webkit-gradient(linear, left top, right bottom, from(#E38913), to(#9C6CFD));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.compo_menu2 .part1_menu2--color_txt {
  color: #C67412;
}
.compo_menu2 .part1_menu2--style_bars {
  background: #C67412;
}
.compo_menu2 .part2_menu2--color_txt {
  color: #A56799;
}
.compo_menu2 .part2_menu2--style_bars {
  background: #A56799;
}
.compo_menu2 .part3_menu2--color_txt {
  color: #6E4CCC;
}
.compo_menu2 .part3_menu2--style_bars {
  background: #6E4CCC;
}

/**RESPONSIVE 320px > 599px**/
@media (min-width: 320px) {
  .bloc_menu2 p {
    font-size: 17px;
  }

  .compo_menu2 {
    /**main title**/
    /**Pour se mettre en appétit**/
    /**Plaisir des papilles**/
    /**Gourmandises sucrées**/
  }
  .compo_menu2__main-title--style {
    font-size: 1.8em;
  }
  .compo_menu2 .part1_menu2__l-bar {
    width: 15%;
  }
  .compo_menu2 .part1_menu2__txt {
    width: 65%;
    font-size: 17px;
  }
  .compo_menu2 .part1_menu2__r-bar {
    width: 15%;
  }
  .compo_menu2 .part2_menu2__l-bar {
    width: 15%;
  }
  .compo_menu2 .part2_menu2__txt {
    width: 49%;
    font-size: 17px;
  }
  .compo_menu2 .part2_menu2__r-bar {
    width: 15%;
  }
  .compo_menu2 .part3_menu2__l-bar {
    width: 15%;
  }
  .compo_menu2 .part3_menu2__txt {
    width: 58%;
    font-size: 17px;
  }
  .compo_menu2 .part3_menu2__r-bar {
    width: 15%;
  }
}
/**RESPONSIVE 600px > 991px**/
@media (min-width: 600px) {
  .bloc_menu2 {
    width: 550px;
  }
  .bloc_menu2 p {
    font-size: 17px;
  }

  .compo_menu2 {
    width: 530px;
    /**main title**/
    /**Pour se mettre en appétit**/
    /**Plaisir des papilles**/
    /**Gourmandises sucrées**/
  }
  .compo_menu2__main-title--style {
    font-size: 2.5em;
  }
  .compo_menu2 .part1_menu2__l-bar {
    width: 25%;
  }
  .compo_menu2 .part1_menu2__txt {
    width: 44%;
    font-size: 20px;
  }
  .compo_menu2 .part1_menu2__r-bar {
    width: 25%;
  }
  .compo_menu2 .part2_menu2__l-bar {
    width: 25%;
  }
  .compo_menu2 .part2_menu2__txt {
    width: 33%;
    font-size: 20px;
  }
  .compo_menu2 .part2_menu2__r-bar {
    width: 25%;
  }
  .compo_menu2 .part3_menu2__l-bar {
    width: 25%;
  }
  .compo_menu2 .part3_menu2__txt {
    width: 39%;
    font-size: 20px;
  }
  .compo_menu2 .part3_menu2__r-bar {
    width: 25%;
  }
}
/**RESPONSIVE 992px > +**/
@media (min-width: 992px) {
  .bloc_menu2 {
    width: 900px;
  }
  .bloc_menu2 p {
    font-size: 22px;
  }

  .compo_menu2 {
    width: 700px;
    /**main title**/
    /**Pour se mettre en appétit**/
    /**Plaisir des papilles**/
    /**Gourmandises sucrées**/
  }
  .compo_menu2__main-title--style {
    font-size: 3.2em;
  }
  .compo_menu2 .part1_menu2__l-bar {
    width: 25%;
  }
  .compo_menu2 .part1_menu2__txt {
    width: 43%;
    font-size: 26px;
  }
  .compo_menu2 .part1_menu2__r-bar {
    width: 25%;
  }
  .compo_menu2 .part2_menu2__l-bar {
    width: 25%;
  }
  .compo_menu2 .part2_menu2__txt {
    width: 32%;
    font-size: 26px;
  }
  .compo_menu2 .part2_menu2__r-bar {
    width: 25%;
  }
  .compo_menu2 .part3_menu2__l-bar {
    width: 25%;
  }
  .compo_menu2 .part3_menu2__txt {
    width: 38%;
    font-size: 26px;
  }
  .compo_menu2 .part3_menu2__r-bar {
    width: 25%;
  }
}
/**Menu 3**/
.bloc_menu3 {
  background-color: #EDEFEF;
}

.compo_menu3 {
  color: #050505;
  /**main title & prices**/
  /**Pour bien commencer**/
  /**Pour bien continuer**/
  /**Pour bien terminer**/
}
.compo_menu3__main-title--style {
  font-size: 4em;
  background: -webkit-gradient(linear, left top, right bottom, from(#0224DB), to(#0C8BFB));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.compo_menu3 .part1_menu3--style_bars {
  background: #0228DD;
}
.compo_menu3 .part2_menu3--style_bars {
  background: #0670F3;
}
.compo_menu3 .part3_menu3--style_bars {
  background: #229DF9;
}

/**RESPONSIVE 320px > 599px**/
@media (min-width: 320px) {
  .bloc_menu3 p {
    font-size: 22px;
  }
  .bloc_menu3 span {
    font-size: 26px;
  }

  .compo_menu3 {
    /**main title**/
    /**Pour bien commencer**/
    /**Pour bien continuer**/
    /**Pour bien terminer**/
  }
  .compo_menu3__main-title--style {
    font-size: 2em;
  }
  .compo_menu3 .part1_menu3__l-bar {
    width: 15%;
  }
  .compo_menu3 .part1_menu3__txt {
    width: 60%;
    font-size: 25px;
  }
  .compo_menu3 .part1_menu3__r-bar {
    width: 15%;
  }
  .compo_menu3 .part2_menu3__l-bar {
    width: 15%;
  }
  .compo_menu3 .part2_menu3__txt {
    width: 55%;
    font-size: 25px;
  }
  .compo_menu3 .part2_menu3__r-bar {
    width: 15%;
  }
  .compo_menu3 .part3_menu3__l-bar {
    width: 15%;
  }
  .compo_menu3 .part3_menu3__txt {
    width: 54%;
    font-size: 25px;
  }
  .compo_menu3 .part3_menu3__r-bar {
    width: 15%;
  }
}
/**RESPONSIVE 600px > 991px**/
@media (min-width: 600px) {
  .bloc_menu3 {
    width: 550px;
  }
  .bloc_menu3 p {
    font-size: 23px;
  }
  .bloc_menu3 span {
    font-size: 26px;
  }

  .compo_menu3 {
    width: 530px;
    /**main title**/
    /**Pour bien commencer**/
    /**Pour bien continuer**/
    /**Pour bien terminer**/
  }
  .compo_menu3__main-title--style {
    font-size: 3em;
  }
  .compo_menu3 .part1_menu3__l-bar {
    width: 25%;
  }
  .compo_menu3 .part1_menu3__txt {
    width: 37%;
    font-size: 27px;
  }
  .compo_menu3 .part1_menu3__r-bar {
    width: 25%;
  }
  .compo_menu3 .part2_menu3__l-bar {
    width: 25%;
  }
  .compo_menu3 .part2_menu3__txt {
    width: 35%;
    font-size: 27px;
  }
  .compo_menu3 .part2_menu3__r-bar {
    width: 25%;
  }
  .compo_menu3 .part3_menu3__l-bar {
    width: 25%;
  }
  .compo_menu3 .part3_menu3__txt {
    width: 34%;
    font-size: 27px;
  }
  .compo_menu3 .part3_menu3__r-bar {
    width: 25%;
  }
}
/**RESPONSIVE 992px > +**/
@media (min-width: 992px) {
  .bloc_menu3 {
    width: 900px;
  }
  .bloc_menu3 p {
    font-size: 28px;
  }
  .bloc_menu3 span {
    font-size: 32px;
  }

  .compo_menu3 {
    width: 700px;
    /**main title**/
    /**Pour bien commencer**/
    /**Pour bien continuer**/
    /**Pour bien terminer**/
  }
  .compo_menu3__main-title--style {
    font-size: 4em;
  }
  .compo_menu3 .part1_menu3__l-bar {
    width: 28%;
  }
  .compo_menu3 .part1_menu3__txt {
    width: 36%;
    font-size: 35px;
  }
  .compo_menu3 .part1_menu3__r-bar {
    width: 28%;
  }
  .compo_menu3 .part2_menu3__l-bar {
    width: 28%;
  }
  .compo_menu3 .part2_menu3__txt {
    width: 33%;
    font-size: 35px;
  }
  .compo_menu3 .part2_menu3__r-bar {
    width: 28%;
  }
  .compo_menu3 .part3_menu3__l-bar {
    width: 28%;
  }
  .compo_menu3 .part3_menu3__txt {
    width: 32%;
    font-size: 35px;
  }
  .compo_menu3 .part3_menu3__r-bar {
    width: 28%;
  }
}
/**Menu 4**/
.bloc_menu4 {
  background-color: #FDFFFD;
}

.compo_menu4 {
  color: #0A0A0A;
  /**main title & prices**/
  /**all bars on menu4**/
}
.compo_menu4__main-title--style {
  background: -webkit-gradient(linear, left top, right bottom, from(#3D923A), to(#C0FF82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.compo_menu4 .parts-bars_menu4--style_bars-l {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #41963C), color-stop(24%, #6BB953), color-stop(41%, #9CE26D), color-stop(100%, #B6F87A));
}
.compo_menu4 .parts-bars_menu4--style_bars-r {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #B6F87A), color-stop(59%, #9CE26D), color-stop(76%, #6BB953), color-stop(100%, #41963C));
}

/**RESPONSIVE 320px > 599px**/
@media (min-width: 320px) {
  .bloc_menu4 p {
    font-size: 22px;
  }
  .bloc_menu4 span {
    font-size: 26px;
  }

  .compo_menu4 {
    /**main title**/
    /**Esquisse**/
    /**Oeuvre de maître**/
    /**Au sommet de l'art**/
  }
  .compo_menu4__main-title--style {
    font-size: 2em;
  }
  .compo_menu4 .part1_menu4__l-bar {
    width: 20%;
  }
  .compo_menu4 .part1_menu4__txt {
    width: 24%;
    font-size: 25px;
  }
  .compo_menu4 .part1_menu4__r-bar {
    width: 20%;
  }
  .compo_menu4 .part2_menu4__l-bar {
    width: 20%;
  }
  .compo_menu4 .part2_menu4__txt {
    width: 47%;
    font-size: 25px;
  }
  .compo_menu4 .part2_menu4__r-bar {
    width: 20%;
  }
  .compo_menu4 .part3_menu4__l-bar {
    width: 20%;
  }
  .compo_menu4 .part3_menu4__txt {
    width: 53%;
    font-size: 25px;
  }
  .compo_menu4 .part3_menu4__r-bar {
    width: 20%;
  }
}
/**RESPONSIVE 600px > 991px**/
@media (min-width: 600px) {
  .bloc_menu4 {
    width: 550px;
  }
  .bloc_menu4 p {
    font-size: 23px;
  }
  .bloc_menu4 span {
    font-size: 26px;
  }

  .compo_menu4 {
    width: 530px;
    /**main title**/
    /**Esquisse**/
    /**Oeuvre de maître**/
    /**Au sommet de l'art**/
  }
  .compo_menu4__main-title--style {
    font-size: 3em;
  }
  .compo_menu4 .part1_menu4__l-bar {
    width: 30%;
  }
  .compo_menu4 .part1_menu4__txt {
    width: 14%;
    font-size: 26px;
  }
  .compo_menu4 .part1_menu4__r-bar {
    width: 30%;
  }
  .compo_menu4 .part2_menu4__l-bar {
    width: 30%;
  }
  .compo_menu4 .part2_menu4__txt {
    width: 28%;
    font-size: 26px;
  }
  .compo_menu4 .part2_menu4__r-bar {
    width: 30%;
  }
  .compo_menu4 .part3_menu4__l-bar {
    width: 30%;
  }
  .compo_menu4 .part3_menu4__txt {
    width: 32%;
    font-size: 26px;
  }
  .compo_menu4 .part3_menu4__r-bar {
    width: 30%;
  }
}
/**RESPONSIVE 992px > +**/
@media (min-width: 992px) {
  .bloc_menu4 {
    width: 900px;
  }
  .bloc_menu4 p {
    font-size: 28px;
  }
  .bloc_menu4 span {
    font-size: 32px;
  }

  .compo_menu4 {
    width: 700px;
    /**main title**/
    /**Esquisse**/
    /**Oeuvre de maître**/
    /**Au sommet de l'art**/
  }
  .compo_menu4__main-title--style {
    font-size: 4em;
  }
  .compo_menu4 .part1_menu4__l-bar {
    width: 30%;
  }
  .compo_menu4 .part1_menu4__txt {
    width: 14%;
    font-size: 35px;
  }
  .compo_menu4 .part1_menu4__r-bar {
    width: 30%;
  }
  .compo_menu4 .part2_menu4__l-bar {
    width: 30%;
  }
  .compo_menu4 .part2_menu4__txt {
    width: 28%;
    font-size: 35px;
  }
  .compo_menu4 .part2_menu4__r-bar {
    width: 30%;
  }
  .compo_menu4 .part3_menu4__l-bar {
    width: 30%;
  }
  .compo_menu4 .part3_menu4__txt {
    width: 32%;
    font-size: 35px;
  }
  .compo_menu4 .part3_menu4__r-bar {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
