@charset "UTF-8";
@font-face {
  font-family: "Caveat Bold";
  src: url("../../fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: "Caveat Regular";
  src: url("../../fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: "Devonshire";
  src: url("../../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Junicode";
  src: url("../../fonts/Junicode-Bold.ttf");
}
@font-face {
  font-family: "Dancing";
  src: url("../../fonts/DancingScript-Regular.otf");
}
@font-face {
  font-family: "Kaushan";
  src: url("../../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Source Serif Pro Regular";
  src: url("../../fonts/SourceSerifPro-Regular.otf");
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../../fonts/SourceSerifPro-Bold.otf");
}
/**Header, Footer, Btn Soon**/
.header__txt--style {
  font-family: cursive;
  font-weight: 800;
}

.footer__mentions--style, .footer__contact--style, .btn-soon__txt--style {
  font-family: cursive;
  font-weight: 400;
}

/**Home Menu 1**/
.part1__menu1--style_title {
  font-family: "Devonshire", cursive;
  font-weight: normal;
}

.part1__menu1--style_subtitle {
  font-family: "Caveat Bold", cursive;
  font-weight: normal;
}

/**Home Menu 2**/
.part1__menu2--style_title {
  font-family: "Junicode", cursive;
  font-weight: normal;
}

.part1__menu2--style_subtitle {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

/**Home Menu 3**/
.part2__menu3--style_title {
  font-family: "Dancing", cursive;
  font-weight: normal;
}

.part2__menu3--style_subtitle {
  font-family: "Kaushan", cursive;
  font-weight: normal;
}

/**Home Menu 4**/
.part2__menu4--style_title, .part2__menu4--style_subtitle {
  font-family: "Kaushan", cursive;
  font-weight: normal;
}

/**Menu 1**/
.compo_menu1__main-title--style {
  font-family: "Devonshire", cursive;
  font-weight: 500;
}

.part1_menu1__txt, .part2_menu1__txt, .part3_menu1__txt {
  font-family: "Caveat Bold", cursive;
  font-weight: 700;
}

.compo_menu1 {
  font-family: "Caveat Regular", cursive;
  font-weight: 400;
}

.menu-end_menu1 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
}

/**Menu 2**/
.compo_menu2__main-title--style {
  font-family: "Junicode", cursive;
  font-weight: 700;
}

.compo_menu2 {
  font-family: "Source Serif Pro Regular", cursive;
  font-weight: 400;
}

.part1_menu2--color h3, .part2_menu2--color h3, .part3_menu2--color h3 {
  font-family: "Source Serif Pro", cursive;
  font-weight: 400;
}

/**Menu 3**/
.compo_menu3__main-title--style {
  font-family: "Dancing", cursive;
  font-weight: 400;
}

.compo_menu3 p {
  font-family: "Caveat Regular", cursive;
  font-weight: 400;
}

.part1_menu3--color h3, .part2_menu3--color h3, .part3_menu3--color h3 {
  font-family: "Source Serif Pro", cursive;
  font-weight: 400;
}

/**Menu 4**/
.compo_menu4__main-title--style {
  font-family: "Dancing", cursive;
  font-weight: normal;
}

.compo_menu4 p, .compo_menu4 h3 {
  font-family: "Caveat Regular", cursive;
  font-weight: normal;
}

/*Header, Footer, Btn Soon*/
/*Home Menus*/
/*Home Menus + Menus*/
/*Menus*/
/*Menu 1*/
/*Menu 2*/
/*Menu 3*/
/*Menu 4*/
/*Mentions*/
/*Other*/
/**Home menus + Menus**/
/**Home menus**/
/**Footer**/
/**Menus (1,2,3,4)**/
/**Menu 1**/
/**Menu 2,3,4**/
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
html body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #000;
}

a {
  text-decoration: none;
}

/**Button soon (home page)**/
.btn-soon {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 25px;
  padding-bottom: 70px;
}
.btn-soon--color {
  background-color: #579C87;
}
.btn-soon__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 300px;
  height: 45px;
  font-size: 1.7em;
}
.btn-soon__txt--style {
  text-decoration: #fff;
  color: #FBCB47;
}

/**Menus 1,2,3,4 - menu1.html, menu2.html, menu3.html, menu4.html**/
.bloc_menu1, .bloc_menu-2-3-4 {
  box-shadow: 0px 0px 7px #c9c1c1;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  min-width: 800px;
  margin-bottom: 100px;
}

.title-g-menus {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 2.1em;
  color: #353535;
}

/**Menus 2,3,4 - menu2.html, menu3.html, menu4.html**/
.bloc_menu-2-3-4 {
  height: 1100px;
  width: 880px;
}

.compo_menu-2-3-4 {
  width: 700px;
}
.compo_menu-2-3-4__main-title {
  margin-top: 110px;
  margin-bottom: 115px;
  text-align: center;
}
.compo_menu-2-3-4__price {
  float: right;
}
.compo_menu-2-3-4 .part1_menu-2-3-4 {
  margin-top: 65px;
}
.compo_menu-2-3-4 .part1_menu-2-3-4__l-bar {
  float: left;
  width: 27%;
  margin-top: -5px;
}
.compo_menu-2-3-4 .part1_menu-2-3-4__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  width: 46%;
  text-align: center;
}
.compo_menu-2-3-4 .part1_menu-2-3-4__r-bar {
  float: right;
  width: 27%;
  margin-top: -5px;
}
.compo_menu-2-3-4 .part2_menu-2-3-4 {
  margin-top: 85px;
}
.compo_menu-2-3-4 .part2_menu-2-3-4__l-bar {
  float: left;
  width: 27%;
  margin-top: -5px;
}
.compo_menu-2-3-4 .part2_menu-2-3-4__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  width: 46%;
  text-align: center;
}
.compo_menu-2-3-4 .part2_menu-2-3-4__r-bar {
  float: right;
  width: 27%;
  margin-top: -5px;
}
.compo_menu-2-3-4 .part3_menu-2-3-4 {
  margin-top: 85px;
}
.compo_menu-2-3-4 .part3_menu-2-3-4__l-bar {
  float: left;
  width: 27%;
  margin-top: -5px;
}
.compo_menu-2-3-4 .part3_menu-2-3-4__txt {
  display: block;
  margin: auto;
  line-height: 1px;
  width: 46%;
  text-align: center;
}
.compo_menu-2-3-4 .part3_menu-2-3-4__r-bar {
  float: right;
  width: 27%;
  margin-top: -5px;
}

.part1_menu-2-3-4 aside, .part2_menu-2-3-4 aside, .part3_menu-2-3-4 aside {
  display: block;
  margin-bottom: 35px;
}

/**Menus 3,4 - menu3.html, menu4.html**/
.compo_menu3 aside, .compo_menu4 aside {
  font-size: 20px;
}

.compo_menu3 p, .compo_menu4 p {
  font-size: 1.5em;
}

.compo_menu3__price, .compo_menu4__price {
  font-size: 30px;
}

/**Home Menus (1,2,3,4) - index.html**/
.home-menus article {
  scale: 1;
  transition-duration: 200ms;
}
.home-menus article:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

/**Btn-soon Home Menu**/
/**Footer (Mentions légales & Contactez-nous)**/
/**Menus (1,2,3,4) - menu1.html, menu2.html, menu3.html, menu4.html**/
/**Header (appears on all pages)**/
.header {
  height: 100px;
  margin-bottom: 0.5em;
}
.header--color {
  background-color: #579C87;
}
.header__txt {
  text-align: center;
  margin-top: 18px;
  font-size: 2.6em;
}
.header__txt--style {
  color: #FBCB47;
}

/**Footer (appears on all pages)**/
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  position: fixed;
  bottom: 0;
  right: 0px;
}
.footer--color {
  background-color: #579C87;
}
.footer__mentions {
  margin-left: 35px;
}
.footer__mentions--style {
  padding-top: 11px;
  color: #FBCB47;
  text-decoration: #fff;
  font-size: 1.6em;
}
.footer__contact {
  margin-right: 35px;
}
.footer__contact--style {
  padding-top: 11px;
  color: #FBCB47;
  text-decoration: #fff;
  font-size: 1.6em;
}

/**Home Menus (1,2,3,4) - index.html**/
.home-menus {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /**Menu 1 & 2**/
  /**Menu 3 & 4**/
}
.home-menus .part1 {
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.home-menus .part1__menu1 {
  background-color: #FCDFDB;
  box-shadow: 2px 2px 11px #b8b2b2;
  margin-left: 200px;
  height: 565px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-menus .part1__menu1--style_title {
  color: #3D1319;
  margin-top: -1px;
  font-size: 2.5em;
}
.home-menus .part1__menu1--style_subtitle {
  color: #3D1319;
  font-size: 2.8em;
}
.home-menus .part1__menu2 {
  background-color: #FFF5FE;
  box-shadow: 2px 2px 11px #b8b2b2;
  margin-right: 200px;
  margin-left: 50px;
  height: 565px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-menus .part1__menu2--style_title {
  background: -webkit-gradient(linear, left top, right bottom, from(#E38913), to(#9C6CFD));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}
.home-menus .part1__menu2--style_subtitle {
  color: #C77412;
  font-size: 2.5em;
}
.home-menus .part2 {
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.home-menus .part2__menu3 {
  background-color: #F9F9F9;
  box-shadow: 2px 2px 11px #b8b2b2;
  height: 565px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-menus .part2__menu3--style_title {
  background: -webkit-gradient(linear, left top, right bottom, from(#0224DB), to(#0C8BFB));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}
.home-menus .part2__menu3--style_subtitle {
  color: #0887FB;
  font-size: 2.7em;
}
.home-menus .part2__menu4 {
  background-color: #FDFFFD;
  box-shadow: 2px 2px 11px #b8b2b2;
  margin-left: 50px;
  height: 565px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-menus .part2__menu4--style_title {
  background: -webkit-gradient(linear, left top, right bottom, from(#3D923A), to(#C0FF82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}
.home-menus .part2__menu4--style_subtitle {
  color: #72BF56;
  font-size: 2.7em;
}

/**Mentions - mentions.html"**/
.mentions p, .mentions h3, .mentions h2, .mentions ul {
  margin-left: 18px;
  margin-right: 50px;
}

.mentions p, .mentions ul {
  font-size: 17px;
  color: #3b3a3a;
}

.mentions-parts {
  margin-bottom: 65px;
}

.mentions_end {
  text-align: center;
  margin-bottom: 65px;
  color: #b9b3b3;
}

.mentions h3 {
  font-size: 20px;
  color: #3d3c3c;
}

/**Menu 1 - menu1.html**/
.bloc_menu1 {
  background-color: #FCDFDB;
  height: 1150px;
  width: 900px;
}

.bloc_menu1 p {
  line-height: 20px;
  font-size: 28px;
}

.compo_menu1 {
  color: #3D1319;
  width: 700px;
  /**icon, main title & prices**/
  /**Prélude**/
  /**Point d'orgue**/
  /**Mouvement final**/
  /**icon & title end**/
}
.compo_menu1__main-img {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
.compo_menu1__main-title {
  margin-top: -0.1px;
  text-align: center;
}
.compo_menu1__main-title--style {
  font-size: 3.5em;
}
.compo_menu1__price {
  font-weight: bold;
  float: right;
}
.compo_menu1 .part1_menu1 {
  margin-top: 65px;
}
.compo_menu1 .part1_menu1__l-bar {
  float: left;
  width: 30%;
}
.compo_menu1 .part1_menu1__txt {
  font-size: 40px;
  display: block;
  margin: auto;
  line-height: 1px;
  width: 40%;
  text-align: center;
}
.compo_menu1 .part1_menu1__r-bar {
  float: right;
  width: 30%;
}
.compo_menu1 .part2_menu1 {
  margin-top: 85px;
}
.compo_menu1 .part2_menu1__l-bar {
  float: left;
  width: 30%;
}
.compo_menu1 .part2_menu1__txt {
  font-size: 40px;
  display: block;
  margin: auto;
  line-height: 1px;
  width: 40%;
  text-align: center;
}
.compo_menu1 .part2_menu1__r-bar {
  float: right;
  width: 30%;
}
.compo_menu1 .part3_menu1 {
  margin-top: 85px;
}
.compo_menu1 .part3_menu1__l-bar {
  float: left;
  width: 30%;
}
.compo_menu1 .part3_menu1__txt {
  font-size: 40px;
  display: block;
  margin: auto;
  line-height: 1px;
  width: 40%;
  text-align: center;
}
.compo_menu1 .part3_menu1__r-bar {
  float: right;
  width: 30%;
}
.compo_menu1 .menu-end_menu1 {
  text-align: center;
  margin-top: 65px;
  font-size: 40px;
}
.compo_menu1 .menu-end_menu1__icon {
  margin-right: 15px;
}

.part1_menu1 aside, .part2_menu1 aside, .part3_menu1 aside {
  margin-bottom: 35px;
}

.fa-itunes-note {
  color: #F16062;
}

/**Menu 2 - menu2.html**/
.bloc_menu2 {
  background-color: #FFF5FE;
}

.compo_menu2 aside {
  font-size: 20px;
}

.compo_menu2 {
  /**main title**/
  /**Pour se mettre en appétit**/
  /**Plaisir des papilles**/
  /**Gourmandises sucrées**/
}
.compo_menu2__main-title--style {
  font-size: 2.5em;
  background: -webkit-gradient(linear, left top, right bottom, from(#E38913), to(#9C6CFD));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.compo_menu2 .part1_menu2--color {
  color: #C67412;
}
.compo_menu2 .part2_menu2--color {
  color: #A56799;
}
.compo_menu2 .part3_menu2--color {
  color: #6E4CCC;
}

/**Menu 3 - menu3.html**/
.bloc_menu3 {
  background-color: #EDEFEF;
}

.compo_menu3 {
  color: #050505;
  /**main title & prices**/
}
.compo_menu3__main-title--style {
  font-size: 4em;
  background: -webkit-gradient(linear, left top, right bottom, from(#0224DB), to(#0C8BFB));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**Menu 4 - menu4.html**/
.bloc_menu4 {
  background-color: #FDFFFD;
}

.compo_menu4 {
  color: #0A0A0A;
  /**main title & prices**/
}
.compo_menu4__main-title--style {
  font-size: 4em;
  background: -webkit-gradient(linear, left top, right bottom, from(#3D923A), to(#C0FF82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
