
/**Button soon (home page)**/

.btn-soon {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 150px;

    &--color {
        background-color: $background-color-hdr_ftr_btnsn;
    }
    &__txt {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
            
        &--style {
            text-decoration: $text-decoration;
            color: $text-color-hdr_ftr_btnsn;
        }
    }
}

@media (min-device-width: 320px) {
    .btn-soon {
        &__txt {
            width: 650px;
            font-size: 4.3em;
            height: 95px;
        }
    }
}

@media (min-device-width: 600px) {
    .btn-soon {
        &__txt {
            width: 300px;
            font-size: 1.6em;
            height: 50px;
        }
    }
}

@media (min-device-width: 992px) {
    .btn-soon {
        &__txt {
            width: 350px;
            font-size: 1.8em;
            height: 50px;
        }
    }
}
