
/**Menus 1,2,3,4**/

.bloc_menu1, .bloc_menu-2-3-4 {
    height: auto;
    @include bloc_menu;
}

.title-g-menus {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    color: $titles-g-menus;
}

/**Responsive "title-g-menus" - 320px > 599px**/
@media (max-width: 599px) {
    .title-g-menus {
        font-size: 1.8em;
    }
}

/**Responsive "title-g-menus" - 600px > +**/
@media (min-width: 600px) {
    .title-g-menus {
        font-size: 2.1em;
    }
}


/**Menus 2,3,4**/

.bloc_menu-2-3-4 {
    height: auto;
}

.compo_menu-2-3-4 {

    &__main-title {
        text-align: center;
    }
    & span {
        float: right;
    }

    .part1_menu-2-3-4 {
        margin-top: 65px;

        &__l-bar {
            float: left;
        }
        &__txt {
            @include menu2_3_4-parts-txt
        }
        &__r-bar {
            float: right;
        }
    }

    .part2_menu-2-3-4 {
        margin-top: 85px;

        &__l-bar {
            float: left;
        }
        &__txt {
            @include menu2_3_4-parts-txt
        }
        &__r-bar {
            float: right;
        }
    } 

    .part3_menu-2-3-4 {
        margin-top: 85px;

        &__l-bar {
            float: left;
        }
        &__txt {
            @include menu2_3_4-parts-txt
        }
        &__r-bar {
            float: right;
        }
    } 
}

.part1_menu-2-3-4 aside, .part2_menu-2-3-4 aside, .part3_menu-2-3-4 aside {
    display: block;
    margin-bottom: 35px;
}


/**RESPONSIVE 320px > 599px**/

@media (max-width: 599px) {

    .compo_menu-2-3-4 {
        &__main-title {
            margin-top: 60px;
            margin-bottom: 65px;
        }
    }

    .part3_menu-2-3-4 {
        margin-bottom: 60px;
    } 
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {
    
    .compo_menu-2-3-4 {
        &__main-title {
            margin-top: 90px;
            margin-bottom: 95px;
        }
    }

    .part3_menu-2-3-4 {
        margin-bottom: 90px;
    } 
}


/**RESPONSIVE 992px > +**/

@media (min-width: 992px) {
    
    .compo_menu-2-3-4 {
        &__main-title {
            margin-top: 110px;
            margin-bottom: 115px;
        }
    }

    .part3_menu-2-3-4 {
        margin-bottom: 120px;
    } 
}