
/**Menus 1,2,3,4**/

.bloc_menu1, .bloc_menu-2-3-4 {
    @include bloc_menu
}

.title-g-menus {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
    color: $titles-g-menus;
}

/**RESPONSIVE 320px > 599px**/

@media (max-width: 599px) {

    .title-g-menus {
        font-size: 1.8em;
    }
}

/**RESPONSIVE 600px > +**/
@media (min-width: 600px) {

    .title-g-menus {
        font-size: 2.1em;
    }
}


/**Menus 2,3,4**/

.bloc_menu-2-3-4 {
    height: auto;
}

.compo_menu-2-3-4 {
    &__main-title {
        margin-top: 110px;
        margin-bottom: 115px;
        text-align: center;
    }
    &__price {
        float: right;
    }

    .part1_menu-2-3-4 {
        margin-top: 65px;

        &__l-bar {
            float: left;
            height: 4px;
        }
        &__txt {
            @include menu2_3_4-parts-txt
        }
        &__r-bar {
            float: right;
            height: 4px;
        }
    }

    .part2_menu-2-3-4 {
        margin-top: 85px;

        &__l-bar {
            float: left;
            height: 4px;
        }
        &__txt {
            @include menu2_3_4-parts-txt
        }
        &__r-bar {
            float: right;
            height: 4px;
        }
    } 

    .part3_menu-2-3-4 {
        margin-top: 85px;
        margin-bottom: 120px;

        &__l-bar {
            float: left;
            height: 4px;
        }
        &__txt {
            @include menu2_3_4-parts-txt
        }
        &__r-bar {
            float: right;
            height: 4px;
        }
    } 
}

.part1_menu-2-3-4 aside, .part2_menu-2-3-4 aside, .part3_menu-2-3-4 aside {
    display: block;
    margin-bottom: 35px;
}