
/**Home Menus (1,2,3,4)**/

.container-home-menus {
    display: flex;
    justify-content: center;

    .home-menus {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        /**Menu 1**/
        &__menu1 {
            background-color: #FCDFDB;
            margin-top: 40px;
            @include home-menus;

            &__main-img {
                width: 50%;
            }
            &--style_title {
                color: $text-color-menu1;
            }
            &--style_subtitle {
                color: $text-color-menu1;
            }
        }

        /**Menu 2**/
        &__menu2 {
            background-color: #FFF5FE;
            margin-top: 40px;
            @include home-menus;

            &--style_title {
                background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu2_1), to($title-color-menu2_2));
                @include degraded-text;
            }
            &--style_subtitle {
                color: $subtitle-color-homemenu2;
            }
        }

        /**Menu 3**/
        &__menu3 {
            background-color: #F9F9F9;
            @include home-menus;

            &--style_title {
                background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu3_1), to($title-color-menu3_2));
                @include degraded-text;
            }
            &--style_subtitle {
                color: $subtitle-color-homemenu3;
            }
        }

        /**Menu 4**/
        &__menu4 {
            background-color: #FDFFFD;
            @include home-menus;

            &--style_title {
                background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu4_1), to($title-color-menu4_2));
                @include degraded-text;
            }
            &--style_subtitle {
                color: $subtitle-color-homemenu4;
            }
        }
    }
}


/**RESPONSIVE ~320px > 599px**/

@media (max-width: 599px) {

    .home-menus {
        width: 275px;

        /**Menu 1**/
        &__menu1 {
            flex-basis: 275px;
            height: 405px;

            &--style_title {
                margin-top: -1px;
                font-size: 2.5em;
            }
            &--style_subtitle {
                font-size: 2.4em;
            }
        }

        /**Menu 2**/
        &__menu2 {
            flex-basis: 275px;
            height: 405px;

            &--style_title {
                font-size: 1.8em;
            }
            &--style_subtitle {
                font-size: 2.2em;
            }
        }

        /**Menu 3**/
        &__menu3 {
            flex-basis: 275px;
            height: 405px;
            margin-top: 40px;

            &--style_title {
                font-size: 2.6em;
            }
            &--style_subtitle {
                font-size: 2.5em;
            }
        }

        /**Menu 4**/
        &__menu4 {
            flex-basis: 275px;
            height: 405px;
            margin-top: 40px;

            &--style_title {
                font-size: 2.3em;
            }
            &--style_subtitle {
                font-size: 2.5em;
            }
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .home-menus {
        width: 320px;

        /**Menu 1**/

        &__menu1 {
            flex-basis: 320px;
            height: 450px;

            &--style_title {
                margin-top: -1px;
                font-size: 3em;
            }
            &--style_subtitle {
                font-size: 3em;
            }
        }

        /**Menu 2**/
        &__menu2 {
            flex-basis: 320px;
            height: 450px;

            &--style_title {
                font-size: 2.3em;
            }
            &--style_subtitle {
                font-size: 2.8em;
            }
        }

        /**Menu 3**/
        &__menu3 {
            flex-basis: 320px;
            height: 450px;
            margin-top: 40px;

            &--style_title {
                font-size: 2.9em;
            }
            &--style_subtitle {
                font-size: 3.1em;
            }
        }

        /**Menu 4**/
        &__menu4 {
            flex-basis: 320px;
            height: 450px;
            margin-top: 40px;

            &--style_title {
                font-size: 2.9em;
            }
            &--style_subtitle {
                font-size: 3.1em;
            }
        }
    }
}


/**RESPONSIVE 992px > +**/

@media (min-width: 992px) {

    .home-menus {
        width: 900px;

        /**Menu 1**/
        &__menu1 {
            flex-basis: 400px;
            height: 565px;
            margin-right: 30px;
            margin-bottom: 30px;

            &--style_title {
                color: $text-color-menu1;
                margin-top: -1px;
                font-size: 2.9em;
            }
            &--style_subtitle {
                color: $text-color-menu1;
                font-size: 2.9em;
            }
        }

        /**Menu 2**/
        &__menu2 {
            flex-basis: 400px;
            height: 565px;

            &--style_title {
                font-size: 2.2em;
            }
            &--style_subtitle {
                font-size: 2.6em;
            }
        }

        /**Menu 3**/
        &__menu3 {
            flex-basis: 400px;
            height: 565px;
            margin-right: 30px;

            &--style_title {
                font-size: 2.7em;
            }
            &--style_subtitle {
                font-size: 2.9em;
            }
        }
        
        /**Menu 4**/
        &__menu4 {
            flex-basis: 400px;
            height: 565px;

            &--style_title {
                font-size: 2.7em;
            }
            &--style_subtitle {
                font-size: 2.9em;
            }
        }
    }
}