
/**Menu 1**/

.bloc_menu1 {
    background-color: $background-color-menu1;
    & p {
        line-height: 20px;
    }
}

.compo_menu1 {
    color: $text-color-menu1;

    & span {
        font-weight: bold;
    }
    & hr {
        background-color: $text-color-menu1;
    }
    
    /**main icon, main title**/
    &__main-icon {
        margin-top: 45px;
    }
    &__main-title {
        margin-top: -.1px;
    }

    /**End icon & end title**/
    .menu-end_menu1 {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;
    }
}

/**Main icon & end icon**/
.fa-itunes-note {
    color: #F16464;
}


/**RESPONSIVE ~320px > 599px**/

@media (max-width: 599px) {

    .bloc_menu1 {
        width: 95%;
        & p {
            font-size: 21px;
        }
    }

    .compo_menu1 {
        width: 97%;

        /**Main icon & main title**/
        &__main-title {
            margin-top: -20px;

            &--style {
                font-size: 2.5em;
            }
        }
        &__main-icon {
            font-size: 4em;
        }

        /**All bars on parts**/
        .part1_menu1, .part2_menu1, .part3_menu1 {
            &__l-bar {
                width: 21%;
            }
            &__r-bar {
                width: 21%;
            }
        }

        /**Prélude**/
        .part1_menu1 {
            margin-top: 40px;

            &__txt {
                max-width: 22%;
                font-size: 25px;
            }
        }

        /**Point d'orgue**/
        .part2_menu1 {
            margin-top: 55px;

            &__txt {
                max-width: 39%;
                font-size: 25px;
            }
        } 

        /**Mouvement final**/
        .part3_menu1 {
            margin-top: 55px;

            &__txt {
                max-width: 50%;
                font-size: 25px;
            }
        } 

        /**End icon & end title**/
        .menu-end_menu1 {
            margin-top: 20px;

            &__txt {
                font-size: 32px;
            }
            &__icon {
                font-size: 2.5em;
                margin-right: 12px;
            }
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .bloc_menu1 {
        width: 90%;
        & p {
            font-size: 24px;
        }
    }

    .compo_menu1 {
        width: 95%;

        /**Main icon & main title**/
        &__main-title {
            margin-top: -20px;

            &--style {
                font-size: 3em;
            }
        }
        &__main-icon {
            font-size: 5em;
        }

        /**All bars on parts**/
        .part1_menu1, .part2_menu1, .part3_menu1 {
            &__l-bar {
                width: 27%;
            }
            &__r-bar {
                width: 27%;
            }
        }

        /**Prélude**/
        .part1_menu1 {
            margin-top: 55px;

            &__txt {
                max-width: 16%;
                font-size: 31px;
            }
        }

        /**Point d'orgue**/
        .part2_menu1 {
            margin-top: 85px;

            &__txt {
                max-width: 28%;
                font-size: 31px;
            }
        }

        /**Mouvement final**/
        .part3_menu1 {
            margin-top: 85px;

            &__txt {
                max-width: 36%;
                font-size: 31px;
            }
        } 

        /**End icon & end title**/
        .menu-end_menu1 {
            margin-top: 35px;

            &__txt {
                font-size: 37px;
            }
            &__icon {
                font-size: 3em;
                margin-right: 15px;
            }
        }
    }
}


/**RESPONSIVE 992px > +**/

    @media (min-width: 992px) {

    .bloc_menu1 {
        width: 900px;
        & p {
            font-size: 28px;
        }
    }

    .compo_menu1 {
        width: 700px;

        /**Main icon & main title**/
        &__main-title {
            &--style {
                font-size: 4em;
            }
        }
        &__main-icon {
            font-size: 7em;
        }

        /**All bars on parts**/
        .part1_menu1, .part2_menu1, .part3_menu1 {
            &__l-bar {
                width: 30%;
            }
            &__r-bar {
                width: 30%;
            }
        }

        /**Prélude**/
        .part1_menu1 {
            margin-top: 65px;

            &__txt {
                max-width: 15%;
                font-size: 40px;
            }
        }

        /**Point d'orgue**/
        .part2_menu1 {
            margin-top: 85px;

            &__txt {
                max-width: 26%;
                font-size: 40px;
            }
        } 

        /**Mouvement final**/
        .part3_menu1 {
            margin-top: 85px;

            &__txt {
                max-width: 34%;
                font-size: 40px;
            }
        } 

        /**End icon & end title**/
        .menu-end_menu1 {
            margin-top: 65px;
            
            &__txt {
                font-size: 40px;
            }
            &__icon {
                font-size: 4em;
                margin-right: 20px;
            }
        }
    }
}