
/**Menu 4**/

.bloc_menu4 {
    background-color: $background-color-menu4;
}

.compo_menu4 {
    color: $text-color-menu4;

    /**main title**/
    &__main-title {
        &--style {
            background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu4_1), to($title-color-menu4_2));
            @include degraded-text;
        }
    }

        .part1_menu4__l-bar, .part2_menu4__l-bar, .part3_menu4__l-bar {
            background: linear-gradient(to right, $bar-color-menu4_deg1 0%,$bar-color-menu4_deg2 41%,$bar-color-menu4_deg3 70%,$bar-color-menu4_deg4 100%);
        }

        .part1_menu4__r-bar, .part2_menu4__r-bar, .part3_menu4__r-bar {
            background: linear-gradient(to left, $bar-color-menu4_deg1 0%,$bar-color-menu4_deg2 41%,$bar-color-menu4_deg3 70%,$bar-color-menu4_deg4 100%);
        }

        /**Esquisse**/
        .part1_menu4 {
            margin-top: 65px;
        }
    
        /**Oeuvre de maître**/
        .part2_menu4 {
            margin-top: 85px;
        }
    
        /**Au sommet de l'art**/
        .part3_menu4 {
            margin-top: 85px;
        }
}


/**RESPONSIVE ~320px > 599px**/

@media (max-width: 599px) {

    .bloc_menu4 {
        width: 95%;
        & p {
            font-size: 21px;
        }
        & span {
            font-size: 23px;
        }
    }

    .compo_menu4 {
        width: 97%;

        /**main title**/
        &__main-title {
            margin-top: 45px;
            margin-bottom: 45px;
            &--style {
                font-size: 2.5em;
            }
        }
    
        /**Esquisse**/
        .part1_menu4 {
            &__l-bar {
                width: 19%;
            }
            &__txt {
                max-width: 26%;
                font-size: 25px;
            }
            &__r-bar {
                width: 19%;
            }
        }
        
        /**Oeuvre de maître**/
        .part2_menu4 {
            &__l-bar {
                width: 19%;
            }
            &__txt {
                max-width: 49%;
                font-size: 25px;
            }
            &__r-bar {
                width: 19%;
            }
        }
        
        /**Au sommet de l'art**/
        .part3_menu4 {
            margin-bottom: 45px;
            &__l-bar {
                width: 19%;
            }
            &__txt {
                max-width: 54%;
                font-size: 25px;
            }
            &__r-bar {
                width: 19%;
            }
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .bloc_menu4 {
        width: 90%;
        & p {
            font-size: 23px;
        }
        & span {
            font-size: 25px;
        }
    }

    .compo_menu4 {
        width: 95%;

        /**main title**/
        &__main-title {
            margin-top: 75px;
            margin-bottom: 75px;
            &--style {
                font-size: 3em;
            }
        }
    
        /**Esquisse**/
        .part1_menu4 {
            &__l-bar {
                width: 30%;
            }
            &__txt {
                max-width: 14%;
                font-size: 26px;
            }
            &__r-bar {
                width: 28.5%;
            }
        }
        
        /**Oeuvre de maître**/
        .part2_menu4 {
            &__l-bar {
                width: 30%;
            }
            &__txt {
                max-width: 29%;
                font-size: 26px;
            }
            &__r-bar {
                width: 28.5%;
            }
        }
        
        /**Au sommet de l'art**/
        .part3_menu4 {
            margin-bottom: 65px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                max-width: 32%;
                font-size: 26px;
            }
            &__r-bar {
                width: 28.5%;
            }
        }
    }
}


/**RESPONSIVE 992px > +**/

@media (min-width: 992px) {

    .bloc_menu4 {
        width: 900px;
        & p {
            font-size: 28px;
        }
        & span {
            font-size: 32px;
        }
    }

    .compo_menu4 {
        width: 700px;

        /**main title**/
        &__main-title {
            margin-top: 110px;
            margin-bottom: 115px;
            &--style {
                font-size: 4em;
            }
        }
    
        /**Esquisse**/
        .part1_menu4 {
            &__l-bar {
                width: 31%;
            }
            &__txt {
                max-width: 14%;
                font-size: 35px;
            }
            &__r-bar {
                width: 30%;
            }
        }
        
        /**Oeuvre de maître**/
        .part2_menu4 {
            &__l-bar {
                width: 31%;
            }
            &__txt {
                max-width: 28%;
                font-size: 35px;
            }
            &__r-bar {
                width: 30%;
            }
        }
        
        /**Au sommet de l'art**/
        .part3_menu4 {
            margin-bottom: 120px;
            &__l-bar {
                width: 31%;
            }
            &__txt {
                max-width: 32%;
                font-size: 35px;
            }
            &__r-bar {
                width: 30%;
            }
        }
    }
}