
/**Menu 2**/

.bloc_menu2 {
    background-color: $background-color-menu2;
}

.compo_menu2 {

    /**main title**/
    &__main-title {
        &--style {
            background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu2_1), to($title-color-menu2_2));
            @include degraded-text;
        }
    }

    /**Pour se mettre en appétit**/
    .part1_menu2 {
        & hr {
            background-color: $text-color-part1-menu2;
        }

        &--color_txt {
            color: $text-color-part1-menu2;
        }
    }
    
    /**Plaisir des papilles**/
    .part2_menu2 {
        & hr {
            background-color: $text-color-part2-menu2;
        }

        &--color_txt {
            color: $text-color-part2-menu2;
        }
    }
    
    /**Gourmandises sucrées**/
    .part3_menu2 {
        & hr {
            background-color: $text-color-part3-menu2;
        }

        &--color_txt {
            color: $text-color-part3-menu2;
        }
    }
}


/**RESPONSIVE ~320px > 599px**/

@media (max-width: 599px) {

    .bloc_menu2 {
        width: 95%;
        & p {
            font-size: 13px;
        }
    }

    .compo_menu2 {
        width: 97%;

        /**main title**/
        &__main-title {
            margin-top: 45px;
            margin-bottom: 45px;

            &--style {
                font-size: 1.8em;
            }
        }

        /**All bars on parts**/
        .part1_menu2, .part2_menu2, .part3_menu2 {
            &__l-bar {
                width: 18.5%;
            }
            &__r-bar {
                width: 18.5%;
            }
        }
    
        /**Pour se mettre en appétit**/
        .part1_menu2 {
            &__txt {
                max-width: 58%;
                font-size: 15px;
            }
        }
        
        /**Plaisir des papilles**/
        .part2_menu2 {
            margin-top: 50px;

            &__txt {
                max-width: 44%;
                font-size: 15px;
            }
        }
        
        /**Gourmandises sucrées**/
        .part3_menu2 {
            margin-top: 50px;
            margin-bottom: 45px;

            &__txt {
                max-width: 53%;
                font-size: 15px;
            }
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .bloc_menu2 {
        width: 90%;
        & p {
            font-size: 17px;
        }
    }

    .compo_menu2 {
        width: 95%;
        
        /**main title**/
        &__main-title {
            margin-top: 75px;
            margin-bottom: 75px;

            &--style {
                font-size: 2.5em;
            }
        }
    
        /**All bars on parts**/
        .part1_menu2, .part2_menu2, .part3_menu2 {
            &__l-bar {
                width: 24%;
            }
            &__r-bar {
                width: 24%;
            }
        }

        /**Pour se mettre en appétit**/
        .part1_menu2 {
            &__txt {
                max-width: 44%;
                font-size: 20px;
            }
        }
        
        /**Plaisir des papilles**/
        .part2_menu2 {
            margin-top: 75px;

            &__txt {
                max-width: 33%;
                font-size: 20px;
            }
        }
        
        /**Gourmandises sucrées**/
        .part3_menu2 {
            margin-top: 75px;
            margin-bottom: 65px;

            &__txt {
                max-width: 40%;
                font-size: 20px;
            }
        }
    }
}


/**RESPONSIVE 992px > +**/

@media (min-width: 992px) {

    .bloc_menu2 {
        width: 900px;
        & p {
            font-size: 22px;
        }
    }

    .compo_menu2 {
        width: 700px;

        /**main title**/
        &__main-title {
            margin-top: 115px;
            margin-bottom: 115px;

            &--style {
                font-size: 3.2em;
            }
        }

        /**All bars on parts**/
        .part1_menu2, .part2_menu2, .part3_menu2 {
            &__l-bar {
                width: 25%;
            }
            &__r-bar {
                width: 25%;
            }
        }
    
        /**Pour se mettre en appétit**/
        .part1_menu2 {
            &__txt {
                max-width: 42%;
                font-size: 26px;
            }
        }
        
        /**Plaisir des papilles**/
        .part2_menu2 {
            margin-top: 85px;

            &__txt {
                max-width: 31%;
                font-size: 26px;
            }
        }
        
        /**Gourmandises sucrées**/
        .part3_menu2 {
            margin-top: 85px;
            margin-bottom: 120px;
            
            &__txt {
                max-width: 38%;
                font-size: 26px;
            }
        }
    }
}

