
/**Menu 4**/

.bloc_menu4 {
    background-color: $background-color-menu4;
}

.compo_menu4 {
    color: $text-color-menu4;

    /**main title & prices**/
    &__main-title {
        &--style {
            font-size: 4em;
            background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu4_1), to($title-color-menu4_2));
            @include degraded-text;
        }
    }

    /**Esquisse**/
    .part1_menu4 {
        &__txt {
            width: 13%;
        }
    }

    /**Oeuvre de maître**/
    .part2_menu4 {
        &__txt {
            width: 25%;
        }
    }

    /**Au sommet de l'art**/
    .part3_menu4 {
        &__txt {
            width: 28%;
        }
    }

    /**all bars on menu4**/
    .parts-bars_menu4 {
        &--style_bars-l {
            background: -webkit-gradient(linear, left top, right bottom, 
            color-stop(0%,$bar-color-menu4_deg1), 
            color-stop(24%,$bar-color-menu4_deg2), 
            color-stop(41%,$bar-color-menu4_deg3), 
            color-stop(100%,$bar-color-menu4_deg4));
        }
        &--style_bars-r {
            background: -webkit-gradient(linear, left top, right bottom, 
            color-stop(0%,$bar-color-menu4_deg4), 
            color-stop(59%,$bar-color-menu4_deg3), 
            color-stop(76%,$bar-color-menu4_deg2), 
            color-stop(100%,$bar-color-menu4_deg1));
        }
    }
}


