
/**Menu 1**/

.bloc_menu1 {
    background-color: $background-color-menu1;
    height: auto;
    & p {
        line-height: 20px;
    }
}

.compo_menu1 {
    color: $text-color-menu1;
    
    /**icon, main title & prices**/
    &__main-img {
        width: 100%;
        text-align: center;
        margin-top: 45px;
    }
    &__main-title {
        margin-top: -0.1px;
        text-align: center;
    }
    &__price {
        font-weight: bold;
        float: right;
    }

    /**Prélude**/
    .part1_menu1 {
        & aside {
            margin-bottom: 35px;
        }
        &__l-bar {
            float: left;
            @include parts_menu1_bars
        }
        &__txt {
            @include parts_menu1_txt
        }
        &__r-bar {
            float: right;
            @include parts_menu1_bars
        }
    }

    /**Point d'orgue**/
    .part2_menu1 {
        & aside {
            margin-bottom: 35px;
        }
        &__l-bar {
            float: left;
            @include parts_menu1_bars
        }
        &__txt {
            @include parts_menu1_txt
        }
        &__r-bar {
            float: right;
            @include parts_menu1_bars
        }
    } 

    /**Mouvement final**/
    .part3_menu1 {
        & aside {
            margin-bottom: 35px;
        }
        &__l-bar {
            float: left;
            @include parts_menu1_bars
        }
        &__txt {
            @include parts_menu1_txt
        }
        &__r-bar {
            float: right;
            @include parts_menu1_bars
        }
    } 

    /**icon & title end**/
    .menu-end_menu1 {
        text-align: center;
        &__icon {
            margin-right: 25px;
        }
    }
}

.fa-itunes-note {
    color: $icon-color-menu1;
}


/**RESPONSIVE 320px > 599px**/

@media (max-width: 599px) {

    .bloc_menu1 {
        width: 95%;
        & p {
            font-size: 21px;
        }
    }

    .compo_menu1 {
        width: 97%;

        /**main title**/
        &__main-title {
            &--style {
                font-size: 2.5em;
            }
        }

        /**Prélude**/
        .part1_menu1 {
            margin-top: 50px;
            &__l-bar {
                width: 20%;
            }
            &__txt {
                width: 24%;
                font-size: 25px;
            }
            &__r-bar {
                width: 20%;
            }
        }

        /**Point d'orgue**/
        .part2_menu1 {
            margin-top: 55px;
            &__l-bar {
                width: 20%;
            }
            &__txt {
                width: 41%;
                font-size: 25px;
            }
            &__r-bar {
                width: 20%;
            }
        } 

        /**Mouvement final**/
        .part3_menu1 {
            margin-top: 55px;
            &__l-bar {
                width: 20%;
            }
            &__txt {
                width: 52%;
                font-size: 25px;
            }
            &__r-bar {
                width: 20%;
            }
        } 

        /**icon & title end**/
        .menu-end_menu1 {
            margin-top: 45px;
            font-size: 30px;
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .bloc_menu1 {
        width: 90%;
        & p {
            font-size: 24px;
        }
    }

    .compo_menu1 {
        width: 95%;

        /**main title**/
        &__main-title {
            &--style {
                font-size: 3em;
            }
        }

        /**Prélude**/
        .part1_menu1 {
            margin-top: 65px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                width: 15%;
                font-size: 31px;
            }
            &__r-bar {
                width: 30%;
            }
        }

        /**Point d'orgue**/
        .part2_menu1 {
            margin-top: 85px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                width: 28%;
                font-size: 31px;
            }
            &__r-bar {
                width: 30%;
            }
        }

        /**Mouvement final**/
        .part3_menu1 {
            margin-top: 85px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                width: 36%;
                font-size: 31px;
            }
            &__r-bar {
                width: 30%;
            }
        } 

        /**icon & title end**/
        .menu-end_menu1 {
            margin-top: 55px;
            font-size: 35px;
        }
    }
}


/**RESPONSIVE 992px > +**/

    @media (min-width: 992px) {

    .bloc_menu1 {
        width: 900px;
        & p {
            font-size: 28px;
        }
    }

    .compo_menu1 {
        width: 700px;

        /**main title**/
        &__main-title {
            &--style {
                font-size: 3.5em;
            }
        }

        /**Prélude**/
        .part1_menu1 {
            margin-top: 65px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                width: 15%;
                font-size: 40px;
            }
            &__r-bar {
                width: 30%;
            }
        }

        /**Point d'orgue**/
        .part2_menu1 {
            margin-top: 85px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                width: 26%;
                font-size: 40px;
            }
            &__r-bar {
                width: 30%;
            }
        } 

        /**Mouvement final**/
        .part3_menu1 {
            margin-top: 85px;
            &__l-bar {
                width: 30%;
            }
            &__txt {
                width: 34%;
                font-size: 40px;
            }
            &__r-bar {
                width: 30%;
            }
        } 

        /**icon & title end**/
        .menu-end_menu1 {
            margin-top: 65px;
            font-size: 40px;
        }
    }
}