
/**Menu 3**/

.bloc_menu3 {
    background-color: $background-color-menu3;
}

.compo_menu3 {
    color: $text-color-menu3;

    /**main title & prices**/
    &__main-title {
        &--style {
            font-size: 4em;
            background: -webkit-gradient(linear, left top, right bottom, from($title-color-menu3_1), to($title-color-menu3_2));
            @include degraded-text;
        }
    }

    /**Pour bien commencer**/
    .part1_menu3 {
        &--style_bars {
            background: $bar-color-menu3_part1;
        }
    }

    /**Pour bien continuer**/
    .part2_menu3 {
        &--style_bars {
            background: $bar-color-menu3_part2;
        }
    }

    /**Pour bien terminer**/
    .part3_menu3 {
        &--style_bars {
            background: $bar-color-menu3_part3;
        }
    }
}


/**RESPONSIVE ~320px > 599px**/

@media (max-width: 599px) {

    .bloc_menu3 {
        width: 95%;
        & p {
            font-size: 22px;
        }
        & span {
            font-size: 26px;
        }
    }

    .compo_menu3 {
        width: 97%;

        /**main title**/
        &__main-title {
            &--style {
                font-size: 2.5em;
            }
        }
    
        /**Pour bien commencer**/
        .part1_menu3 {
            &__l-bar {
                width: 15%;
            }
            &__txt {
                width: 61%;
                font-size: 25px;
            }
            &__r-bar {
                width: 15%;
            }
        }
        
        /**Pour bien continuer**/
        .part2_menu3 {
            &__l-bar {
                width: 15%;
            }
            &__txt {
                width: 56%;
                font-size: 25px;
            }
            &__r-bar {
                width: 15%;
            }
        }
        
        /**Pour bien terminer**/
        .part3_menu3 {
            &__l-bar {
                width: 15%;
            }
            &__txt {
                width: 54%;
                font-size: 25px;
            }
            &__r-bar {
                width: 15%;
            }
        }
    }
}


/**RESPONSIVE 600px > 991px**/

@media (min-width: 600px) {

    .bloc_menu3 {
        width: 90%;
        & p {
            font-size: 23px;
        }
        & span {
            font-size: 25px;
        }
    }

    .compo_menu3 {
        width: 95%;

        /**main title**/
        &__main-title {
            &--style {
                font-size: 3em;
            }
        }
    
        /**Pour bien commencer**/
        .part1_menu3 {
            &__l-bar {
                width: 26%;
            }
            &__txt {
                width: 41%;
                font-size: 29px;
            }
            &__r-bar {
                width: 26%;
            }
        }
        
        /**Pour bien continuer**/
        .part2_menu3 {
            &__l-bar {
                width: 26%;
            }
            &__txt {
                width: 38%;
                font-size: 29px;
            }
            &__r-bar {
                width: 26%;
            }
        }
        
        /**Pour bien terminer**/
        .part3_menu3 {
            &__l-bar {
                width: 26%;
            }
            &__txt {
                width: 36%;
                font-size: 29px;
            }
            &__r-bar {
                width: 26%;
            }
        }
    }
}


/**RESPONSIVE 992px > +**/

@media (min-width: 992px) {

    .bloc_menu3 {
        width: 900px;
        & p {
            font-size: 28px;
        }
        & span {
            font-size: 32px;
        }
    }

    .compo_menu3 {
        width: 700px;

        /**main title**/
        &__main-title {
            &--style {
                font-size: 4em;
            }
        }
    
        /**Pour bien commencer**/
        .part1_menu3 {
            &__l-bar {
                width: 28%;
            }
            &__txt {
                width: 36%;
                font-size: 35px;
            }
            &__r-bar {
                width: 28%;
            }
        }
        
        /**Pour bien continuer**/
        .part2_menu3 {
            &__l-bar {
                width: 28%;
            }
            &__txt {
                width: 33%;
                font-size: 35px;
            }
            &__r-bar {
                width: 28%;
            }
        }
        
        /**Pour bien terminer**/
        .part3_menu3 {
            &__l-bar {
                width: 28%;
            }
            &__txt {
                width: 32%;
                font-size: 35px;
            }
            &__r-bar {
                width: 28%;
            }
        }
    }
}