@font-face {
    font-family: "Caveat Bold";
    src: url("../../fonts/Caveat-Bold.ttf"); }
@font-face {
    font-family: "Caveat Regular";
    src: url("../../fonts/Caveat-Regular.ttf"); }
@font-face {
    font-family: "Devonshire";
    src: url("../../fonts/Devonshire-Regular.ttf"); }
@font-face {
    font-family: "Junicode";
    src: url("../../fonts/Junicode-Bold.ttf"); }
@font-face {
    font-family: "Dancing";
    src: url("../../fonts/DancingScript-Regular.otf"); }
@font-face {
    font-family: "Kaushan";
    src: url("../../fonts/KaushanScript-Regular.ttf"); }
@font-face {
    font-family: "Source Serif Pro Regular";
    src: url("../../fonts/SourceSerifPro-Regular.otf"); }
@font-face {
    font-family: "Source Serif Pro";
    src: url("../../fonts/SourceSerifPro-Bold.otf"); }


/**Header, Footer, Btn Soon**/

.header__txt--style {
    font-family: cursive;
    font-weight: 800;
}
.footer__mentions--style, .footer__contact--style, .btn-soon__txt--style {
    font-family: cursive;
    font-weight: 400;
}

/**Home Menu 1**/

.part1__menu1--style_title {
    font-family: 'Devonshire', cursive;
    font-weight: normal;
}
.part1__menu1--style_subtitle {
    font-family: 'Caveat Bold', cursive;
    font-weight: normal;
}

/**Home Menu 2**/

.part1__menu2--style_title {
    font-family: 'Junicode', cursive;
    font-weight: normal;
}
.part1__menu2--style_subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

/**Home Menu 3**/

.part2__menu3--style_title {
    font-family: 'Dancing', cursive;
    font-weight: normal;
}
.part2__menu3--style_subtitle {
    font-family: 'Kaushan', cursive;
    font-weight: normal;
}

/**Home Menu 4**/

.part2__menu4--style_title, .part2__menu4--style_subtitle {
    font-family: 'Kaushan', cursive;
    font-weight: normal;
}

/**Menu 1**/

.compo_menu1__main-title--style {
    font-family: 'Devonshire', cursive;
    font-weight: 500;
    
}
.part1_menu1__txt, .part2_menu1__txt, .part3_menu1__txt {
    font-family: 'Caveat Bold', cursive;
    font-weight: 700;
}
.compo_menu1 {
    font-family: 'Caveat Regular', cursive;
    font-weight: 400;
}
.menu-end_menu1 {
    font-family: 'Devonshire', cursive;
    font-weight: 500;
}

/**Menu 2**/

.compo_menu2__main-title--style {
    font-family: 'Junicode', cursive;
    font-weight: 700;
    
}
.compo_menu2 {
    font-family: 'Source Serif Pro Regular', cursive;
    font-weight: 400;
}
.part1_menu2--color h3, .part2_menu2--color h3, .part3_menu2--color h3 {
    font-family: 'Source Serif Pro', cursive;
    font-weight: 400;
}

/**Menu 3**/

.compo_menu3__main-title--style {
    font-family: 'Dancing', cursive;
    font-weight: 400;
    
}
.compo_menu3 p {
    font-family: 'Caveat Regular', cursive;
    font-weight: 400;
}
.part1_menu3--color h3, .part2_menu3--color h3, .part3_menu3--color h3 {
    font-family: 'Source Serif Pro', cursive;
    font-weight: 400;
}

/**Menu 4**/

.compo_menu4__main-title--style {
    font-family: 'Dancing', cursive;
    font-weight: normal;
    
}
.compo_menu4 p, .compo_menu4 h3 {
    font-family: 'Caveat Regular', cursive;
    font-weight: normal;
}