
/**Home menus**/
@mixin home-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 11px rgb(184, 178, 178);
}

/**Footer**/
@mixin footer {
    &--style {
        color: $text-color-hdr_ftr_btnsn;
        text-decoration: $text-decoration;
    }
}

/**Menus (1,2,3,4)**/
@mixin bloc_menu {
    box-shadow: 0px 0px 7px rgb(201, 193, 193);
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 100px;
}

/**Menu 2,3,4**/
@mixin menu2_3_4-parts-txt {
    display: block;
    margin: auto;
    line-height: 1px;
    text-align: center;
}

/**Menu 1**/
@mixin parts_menu1_txt {
    display: block;
    margin: auto;
    line-height: 1px;
    text-align: center;
}
@mixin parts_menu1_bars {
    height: 4px;
    background: $text-color-menu1;
}

/**Other**/
@mixin degraded-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}