
/*Header, Footer, Btn Soon*/
$text-color-hdr_ftr_btnsn: #FBCB47;
$background-color-hdr_ftr_btnsn: #579C87;

/*Home Menus*/
$subtitle-color-homemenu2: #C77412;
$subtitle-color-homemenu3: #0887FB;
$subtitle-color-homemenu4: #72BF56;

/*Home Menus + Menus*/
$box-shadow-menus: rgb(184, 178, 178);

/*Menus*/
$titles-g-menus: #353535;

/*Menu 1*/
$background-color-menu1: #FCDFDB;
$text-color-menu1: #3D1319;

/*Menu 2*/
$background-color-menu2: #FFF5FE;
$title-color-menu2_1: #E38913;
$title-color-menu2_2: #9C6CFD;
$text-color-part1-menu2: #C67412;
$text-color-part2-menu2: #A56799;
$text-color-part3-menu2: #6E4CCC;

/*Menu 3*/
$background-color-menu3: #EDEFEF;
$title-color-menu3_1: #0224DB;
$title-color-menu3_2: #0C8BFB;
$text-color-menu3: #050505;
$bar-color-menu3_part1: #0228DD;
$bar-color-menu3_part2: #0670F3;
$bar-color-menu3_part3: #229DF9;

/*Menu 4*/
$background-color-menu4: #FDFFFD;
$title-color-menu4_1: #3D923A;
$title-color-menu4_2: #C0FF82;
$text-color-menu4: #0A0A0A;
$bar-color-menu4_deg1: #41963C;
$bar-color-menu4_deg2: #6BB953;
$bar-color-menu4_deg3: #9CE26D;
$bar-color-menu4_deg4: #B6F87A;

/*Mentions*/
$title-color-mentions: rgb(61, 60, 60);
$text-color-mentions: rgb(59, 58, 58);
$text-color-mentions_end: rgb(185, 179, 179);

/*Other*/
$text-decoration: #fff;
